# Análisis Exploratorio de Datos

Este notebook explora y analiza exhaustivamente un conjunto de datos mediante técnicas de análisis exploratorio. El análisis se centra en comprender la naturaleza, distribución y relaciones presentes en los datos, empleando visualizaciones, estadísticas descriptivas y técnicas de manipulación de datos.

### Objetivos:
- Explorar la estructura y contenido del conjunto de datos.
- Identificar patrones, tendencias y posibles relaciones entre variables.


### Contenido:
1. **Exploración inicial:** Revisión de la estructura de datos, dimensiones y tipos de variables.
2. **Análisis univariado:** Estudio de distribuciones, estadísticas descriptivas y visualizaciones de cada variable por separado.
3. **Análisis bivariado:** Exploración de relaciones entre variables mediante gráficos de dispersión, correlaciones y tablas de contingencia.

In [2]:
# importacion de librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
# cargar los datos y definir un dataframe
path= 'colegios.csv'
df_colegios = pd.read_csv(path, sep=',')

In [7]:
df_colegios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717364 entries, 0 to 717363
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   RBD           717364 non-null  int64
 1   NOM_RBD       717364 non-null  object
 2   COD_COM_RBD   717364 non-null  int64
 3   COD_DEPE2     717364 non-null  int64
 4   LATITUD       717364 non-null  float64
 5   LONGITUD      717364 non-null  float64
 6   MAT_TOTAL     717364 non-null  int64
 7   ESTADO_ESTAB  717364 non-null  int64
 8   ENS_01        717364 non-null  int64
 9   CONVENIO_SEP  717364 non-null  int64
dtypes: float64(2), int64(7), object(1)
memory usage: 54.7+ MB

In [9]:
df_colegios.head()

,RBD,NOM_RBD,COD_COM_RBD,COD_DEPE2,LATITUD,LONGITUD,MAT_TOTAL,ESTADO_ESTAB,ENS_01,CONVENIO_SEP
0,10763,ESCUELA CRISTAL CHILE,13604,1,-33.561953,-70.818988,396,1,10,1
1,10506,COLEGIO SENDA DEL SABER,13201,2,-33.580630,-70.607881,985,1,10,1
2,8492,LICEO MANUEL BARROS BORGONO,13101,1,-33.466963,-70.648888,745,1,110,1
3,9780,COLEGIO TENIENTE DAGOBERTO GODOY,13105,2,-33.559746,-70.658111,1225,1,10,1
4,10491,ESCUELA SANTA JOAQUINA DE VEDRUNA,13201,2,-33.603713,-70.573368,1031,1,10,1