# Limpieza de datos final de colegios
Uniremos los datasets ya limpiados para hacer un dataset final de colegios.

## 1. Importar librerías
Importamos las librerías que vamos a utilizar.

In [8]:
import pandas as pd

## 2. Importar datasets
Importamos los datasets que vamos a utilizar.

In [9]:
df_directorio = pd.read_csv('output_data/directorio.csv', sep=',')
df_SEP = pd.read_csv('output_data/SEP.csv', sep=',')

## 3. Unir datasets
Unimos los datasets que vamos a utilizar.

In [10]:
# Merge dataframes
df = pd.merge(df_directorio, df_SEP, on=['RBD','COD_COM_RBD'], how='right')

### 3.1 Drop columns
Eliminamos las columnas que no vamos a utilizar.

In [11]:
columns_to_drop = ['MRUN', 'BEN_SEP', 'CRITERIO_SEP', 'PREFERENTE_ALU', 'PRIORITARIO_ALU']
df = df.drop(columns_to_drop, axis=1)

In [12]:
df

,RBD,NOM_RBD,COD_COM_RBD,COD_DEPE2,LATITUD,LONGITUD,MAT_TOTAL,ESTADO_ESTAB,ENS_01,CONVENIO_SEP
0,10763,ESCUELA CRISTAL CHILE,13604,1,-33.561953,-70.818988,396,1,10,1
1,10506,COLEGIO SENDA DEL SABER,13201,2,-33.580630,-70.607881,985,1,10,1
2,8492,LICEO MANUEL BARROS BORGONO,13101,1,-33.466963,-70.648888,745,1,110,1
3,9780,COLEGIO TENIENTE DAGOBERTO GODOY,13105,2,-33.559746,-70.658111,1225,1,10,1
4,10491,ESCUELA SANTA JOAQUINA DE VEDRUNA,13201,2,-33.603713,-70.573368,1031,1,10,1
...,...,...,...,...,...,...,...,...,...,...
717359,10046,ESCUELA PARTICULAR SAGRADA FAMILIA,13126,2,-33.447093,-70.697332,547,1,10,1
717360,12117,COMPLEJO EDUCACIONAL J. MIGUEL CARRERA,13125,1,-33.368052,-70.732495,706,1,410,1
717361,31432,LICEO ALTO CORDILLERA DE LA FLORIDA,13110,1,-33.554806,-70.576880,658,1,10,1
717362,9703,ESCUELA ESPERANZA JOVEN,13109,1,-33.518662,-70.668074,343,1,10,1
717363,9804,ESCUELA PABLO DE TARSO,13109,2,-33.516175,-70.667342,214,1,10,1

## 4. Exportar data
Exportamos el dataset final de estudiantes.

In [13]:
df.to_csv('../analisis_data/colegios.csv', sep=',', index=False)