# Limpieza de datos de rendimiento escolar

En este cuaderno de Jupyter, se limpiará los datos ligados al rendimiento académico escolar. 

El conjunto de datos utilizado en este análisis se encuentra en el archivo "Rendimiento_Estudiante.csv", el cual contiene información sobre el rendimiento de los estudiantes en diferentes escuelas de Chile. El conjunto de datos incluye información sobre el mes escolar, el RBD de la escuela, el RUN del alumno, el género del alumno, la fecha de nacimiento del alumno, la comuna del alumno, el promedio de notas y más.

## 1. Importación de librerías
A continuación se importarán las librerías que se utilizarán en este cuaderno de Jupyter.

In [8]:
import pandas as pd

## 2. Carga de datos
A continuación se cargará el conjunto de datos que se utilizará en este cuaderno de Jupyter.

In [9]:
df = pd.read_csv('data/Rendimiento.csv', sep=';')

/var/folders/rn/8kg7t05x7l3fy1mwbgcdkw240000gp/T/ipykernel_33494/2283170703.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Rendimiento.csv', sep=';')

### 2.1 Columnas a utilizar
Las columnas que utilizaremos en este cuaderno de Jupyter son las siguientes:
- `RBD`: RBD de la escuela
- `MRUN`: RUN del alumno
- `COD_JOR`: Jornada en la que asiste a clases
- `PROM_GRAL`: Promedio general anual del alumno
- `SIT_FIN_R`: Situación de promoción al cierre del año escolar

In [10]:
# Mantiene las columnas que se encuentran en la lista
columns = ['RBD', 'MRUN', 'COD_JOR', 'PROM_GRAL', 'SIT_FIN_R']
df = df[columns]

In [11]:
df.head(10)

   RBD      MRUN  COD_JOR PROM_GRAL SIT_FIN_R
0    1    459781        4       6,6         P
1    1    974395        4         0         T
2    1   1959596        4         0         Y
3    1   2267103        4         0         T
4    1   2306638        4         0         Y
5    1   4332937        4         0         Y
6    1   6602653        4       6,2         P
7    1   7154241        4         0         Y
8    1   9715496        4         0         Y
9    1  17443273        4       6,3         P

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3405130 entries, 0 to 3405129
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   RBD        int64
 1   MRUN       int64
 2   COD_JOR    int64
 3   PROM_GRAL  object
 4   SIT_FIN_R  object
dtypes: int64(3), object(2)
memory usage: 129.9+ MB

## 3. Limpieza de datos
A continuación se limpiará el conjunto de datos que se utilizará en este cuaderno de Jupyter.

### 3.1 Filtro de errores en los datos
Ahora se eliminarán las filas que contengan errores o no posean sentido.

In [13]:
# Asegura que 'PROM_GRAL' no sea igual a 0 (Retirado)
df = df[(df['PROM_GRAL'] != float(0)) | (df['SIT_FIN_R'] != '0') | (df['SIT_FIN_R'] != 0)]

In [14]:
# Asegura que 'SIT_FIN_R' no posea información ' '
df = df[df['SIT_FIN_R'] != ' ']

In [15]:
# Elimina del dataframe las filas que contienen valores nulos o duplicados
df = df.dropna()
df = df.drop_duplicates()

### 3.2 Asegurando el correcto tipo de datos
Ahora aseguraremos que los datos se encuentren en el tipo de datos correcto

In [16]:
# Aseguramos que el tipo de datos correcto para todas las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3402268 entries, 0 to 3405129
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   RBD        int64
 1   MRUN       int64
 2   COD_JOR    int64
 3   PROM_GRAL  object
 4   SIT_FIN_R  object
dtypes: int64(3), object(2)
memory usage: 155.7+ MB

In [17]:
# Cambia el data type de 'PROM_GRAL' a float y asegura que los , se cambien por .
df['PROM_GRAL'] = df['PROM_GRAL'].str.replace(',', '.').astype(float)

## 4. Filtro de datos
Ahora se unirán los datos de los estudiantes con los datos de las escuelas.

maira: realmente no entiendo bien que pasa de aquí en adelante jajsa y me provocá conflicto con las otras partes del trabajo

In [18]:
# Abre el archivo 'asistencia.csv' y 'directorio.csv', y lo guarda en un dataframe
df_asistencia = pd.read_csv('output_data/asistencia.csv', sep=',')

In [19]:
# Elimina del dataframe las filas que no pertenecen a los RBDs de la lista
df = df[df['RBD'].isin(df_asistencia['RBD'])]

In [20]:
# Elimina del dataframe las filas que no pertenecen a los MRUNs de la lista
df = df[df['MRUN'].isin(df_asistencia['MRUN'])]

## 4. Cambio de nombre de columnas
A continuación se cambiará el nombre de las columnas del conjunto de datos.

In [21]:
#

## 5. Exportación de datos
Finalmente, se exportará el conjunto de datos limpio a un archivo csv.

In [22]:
# Export data
df.to_csv('output_data/rendimiento_estudiantes.csv', index=False)